# Copy this to .env and fill in your values
# NEVER commit .env to git

# Phase 2 (servers):  use private IP of MongoDB server
# Phase 3 (docker):   use mongo  (docker service name)
# Phase 4 (k8s):      use mongo-service  (k8s service name)
MONGO_URI=mongodb://10.0.1.30:27017/devops

JWT_SECRET=replace_this_with_a_long_random_string
PORT=5000
